/* You can add global styles to this file, and also import other style files */
:root{
    --cor-de-fundo: rgb(255,243,215);
    --cor-verde-claro: rbg(0,179,74);
    --cor-verde-escuro: rgb(0,120,67);
}

body{
    background-color: var(--cor-de-fundo) !important;
}