<div id="fundo">
    <div class="novidades"> <p>NOVIDADES</p> </div>

    <!-- Início do Carrossel -->
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://i.imgur.com/XlxWFSf.jpeg"
                    class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Raposa com lenço vermelho</h5>
                    <p>O fundo está vermelho, porém com uma tonalidade diferente</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="https://i.imgur.com/5pgaNx2.jpeg"
                    class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Dragão colorido</h5>
                    <p>O fundo está vermelho</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="https://i.imgur.com/DDi0Jui.jpeg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Bolo de chocolate com cereja </h5>
                    <p>Esse bolo está dando água na boca</p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <!-- PRODUTOS TEXTO -->
    <div class="novidades mt-5"> <p>PRODUTOS</p> </div>

    <!-- CARDS -->
    <div class="container">
        <div class="card-deck mt-5">
            <div class="card shadow-lg p-3 mb-5 bg-white rounded">
                <img src="..//../assets/img/cards/WhatsApp Image 2021-01-21 at 16.09.34.jpeg" class="card-img-top"
                    alt="...">
                <div class="card-body">
                    <h5 class="card-title">COPO DE SILICONE</h5>
                    <p class="card-text">Utilize esses copos de silicone para diminuir a quantidade de plástico inserido
                        na natureza e, consequentemente, estará ajudando salvar o nosso planeta. :)</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">PREÇO: 19,99</small>
                </div>
            </div>
            <div class="card shadow-lg p-3 mb-5 bg-white rounded">
                <img src="..//..//assets/img/cards/WhatsApp Image 2021-01-21 at 16.09.35.jpeg" class="card-img-top"
                    alt="...">
                <div class="card-body">
                    <h5 class="card-title">ESCOVA DE DENTES DE BAMBU</h5>
                    <p class="card-text">Essas escovas de bambu servem para diminuir a quantidade de plástico inserido
                        no meio ambiente. De acordo com os dentistas, é recomendado fazer a troca de escovas de dentes
                        de três em três meses, sendo assim, ao comprar esse kit, você garante dois anos e dois meses de
                        escovas de dentes ecológicas!! :) </p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">PREÇO: 68,75</small>
                </div>
            </div>
            <div class="card shadow-lg p-3 mb-5 bg-white rounded">
                <img src="..//..//assets/img/cards/WhatsApp Image 2021-01-21 at 16.10.45.jpeg" class="card-img-top"
                    alt="...">
                <div class="card-body">
                    <h5 class="card-title">XAMPU VEGANO</h5>
                    <p class="card-text"> Sem produtos de origem animal e, principalmente, sem testes em animais, esse
                        xampu, totalmente vegano, é ideal para você que gosta de manter a beleza e saúde de seus cabelos
                        e, ainda por cima, diminuir as agressões ao meio ambiente. </p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">PREÇO: 25,00</small>
                </div>
            </div>
        </div>
    </div>


    <!-- ECOBOX TEXTO -->
    <div class="novidades mt-5"> <p>ECOBOX</p> </div>

    <!-- ECOBOX -->
    <div class="container">
        <div class="card-deck mt-5">
            <div class="card shadow-lg p-3 mb-5 bg-white rounded">
                <img src="..//../assets/img/cards/WhatsApp Image 2021-01-21 at 16.09.34.jpeg" class="card-img-top"
                    alt="...">
                <div class="card-body">
                    <h5 class="card-title">COPO DE SILICONE</h5>
                    <p class="card-text">Utilize esses copos de silicone para diminuir a quantidade de plástico inserido
                        na natureza e, consequentemente, estará ajudando salvar o nosso planeta. :)</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">PREÇO: 19,99</small>
                </div>
            </div>
            <div class="card shadow-lg p-3 mb-5 bg-white rounded">
                <img src="..//..//assets/img/cards/WhatsApp Image 2021-01-21 at 16.09.35.jpeg" class="card-img-top"
                    alt="...">
                <div class="card-body">
                    <h5 class="card-title">ESCOVA DE DENTES DE BAMBU</h5>
                    <p class="card-text">Essas escovas de bambu servem para diminuir a quantidade de plástico inserido
                        no meio ambiente. De acordo com os dentistas, é recomendado fazer a troca de escovas de dentes
                        de três em três meses, sendo assim, ao comprar esse kit, você garante dois anos e dois meses de
                        escovas de dentes ecológicas!! :) </p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">PREÇO: 68,75</small>
                </div>
            </div>
            <div class="card shadow-lg p-3 mb-5 bg-white rounded">
                <img src="..//..//assets/img/cards/WhatsApp Image 2021-01-21 at 16.10.45.jpeg" class="card-img-top"
                    alt="...">
                <div class="card-body">
                    <h5 class="card-title">XAMPU VEGANO</h5>
                    <p class="card-text"> Sem produtos de origem animal e, principalmente, sem testes em animais, esse
                        xampu, totalmente vegano, é ideal para você que gosta de manter a beleza e saúde de seus cabelos
                        e, ainda por cima, diminuir as agressões ao meio ambiente. </p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">PREÇO: 25,00</small>
                </div>
            </div>
        </div>
    </div>
</div>