<div class="container-fluid">
  <!-- Início do Carrossel -->
  <div id="carouselExampleCaptions" class="carousel slide container-fluid d-fluid" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../assets/img/CarrosselHome/viga.jpg" class="d-block w-100 img-fluid" alt="...">

        <div class="carousel-caption d-none d-md-block">

        </div>
      </div>
      <div class="carousel-item">
        <img src="../../assets/img/CarrosselHome/hakjdhDLSAHFLA.jpg" class="d-block w-100 img-fluid" alt="...">
        <div class="carousel-caption d-none d-md-block  ">
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../assets/img/CarrosselHome/make.jpg" class="d-block w-100 img-fluid" alt="...">
        <div class="carousel-caption d-none d-md-block">
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <!-- /carrossel -->

  <!-- produtos -->

  <!-- 
<hr class='container espacamentoCarrosselCards'> -->

  <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">


    <div class="row">
      <div class="col-md-12 d-fluid justify-content-center">
        <!--controles-->
        <div class="controls-top d-flex justify-content-around align-items-center">
          <a *ngIf='listPromo.length > 3' class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fa fa-arrow-circle-left "
              aria-hidden="true"></i></a>
          <div class="novidades mt-5 d-flex align-items-center">
            <p>PRODUTOS EM PROMOÇÃO</p>
          </div>

          <a *ngIf='listPromo.length > 3' class="btn-floating" href="#multi-item-example" data-slide="next"><i class="fa fa-arrow-circle-right"
              aria-hidden="true"></i></a>
        </div>
        <!--/controles-->
      </div>
    </div>
    <!--Slides-->
    <div class="carousel-inner" role="listbox">

      <!--primeiro slide-->
      <div *ngIf='listPromo.length > 0' class="carousel-item active">
        <div class="container-fluid justify-content-center">
          <div class="row d-flex justify-content-around">

            <div class="col-md-4 d-flex justify-content-center" style="float:left"
              *ngFor='let i of listPromo | slice:0:3'>
              <div class="card">
                <div class="card-img-wrapper">
                  <img src="{{i.foto}}" alt="">
                </div>
                <div class="card-info">
                  <h3>{{i.nome}}</h3>
                  <p>{{i.categoria.nome}}</p>
                  <button class="btn-1" data-toggle="modal" data-target="#saibaMais"
                    (click)="getProdutoById(i.codigo)">Saiba Mais</button>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <!--/primeiro slide-->
      <!-- Segundo Slide -->
      <div *ngIf='listPromo.length > 3' class="carousel-item">
        <div class="container-fluid justify-content-center">
          <div class="row d-flex justify-content-around">

            <div class="col-md-4 d-flex justify-content-center" style="float:left"
              *ngFor='let i of listPromo | slice:3:6'>
              <div class="card">
                <div class="card-img-wrapper">
                  <img src="{{i.foto}}" alt="">
                </div>
                <div class="card-info">
                  <h3>{{i.nome}}</h3>
                  <p>{{i.descricao}}</p>
                  <button class="btn-1" data-toggle="modal" data-target="#saibaMais"
                    (click)="getProdutoById(i.codigo)">Saiba Mais</button>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>


      <!-- /Segundo Slide -->
      <!-- Terceiro Slide -->
      <div *ngIf='listPromo.length > 6' class="carousel-item">
        <div class="container-fluid justify-content-center">
          <div class="row d-flex justify-content-around">

            <div class="col-md-4 d-flex justify-content-center" style="float:left"
              *ngFor='let i of listPromo | slice:6:9'>
              <div class="card">
                <div class="card-img-wrapper">
                  <img src="{{i.foto}}" alt="">
                </div>
                <div class="card-info">
                  <h3>{{i.nome}}</h3>
                  <p>{{i.descricao}}</p>
                  <button class="btn-1" data-toggle="modal" data-target="#saibaMais"
                    (click)="getProdutoById(i.codigo)">Saiba Mais</button>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <!-- Terceiro Slide -->

    </div>
    <!--/slides-->
  </div>

  <!--ECOBOX-->
  <div class="novidades mt-5" id="ecobox">
    <p>ECOBOX</p>
  </div>
  <!-- <hr class="container espacamentoCarrosselCards"> -->
  <div class="container-fluid justify-content-center">

    <div class="row d-flex justify-content-around">

      <div class="card">
        <div class="card-img-wrapper">
          <img src="../../assets/img/cards/Journey.gif" alt="">
        </div>
        <div class="card-info">
          <h2>Ecobox do Patrulheiro</h2>
          <button class="btn-1" data-toggle="modal" data-target="#patrulheiro">Saiba mais</button>
        </div>
      </div>

      <div class="card">
        <div class="card-img-wrapper">
          <img src="../../assets/img/cards/Around the world.gif" alt="">
        </div>
        <div class="card-info">
          <h2>Ecobox do Explorador</h2>
          <button class="btn-1" data-toggle="modal" data-target="#explorador">Saiba mais</button>
        </div>
      </div>

      <div class="card">
        <div class="card-img-wrapper">
          <img src="../../assets/img/cards/Science.gif" alt="">
        </div>
        <div class="card-info">
          <h2>Ecobox do Biólogo</h2>
          <button class="btn-1" data-toggle="modal" data-target="#biologo">Saiba mais</button>
        </div>
      </div>

    </div>
  </div>
  <!-- /ECOBOX -->
</div>

<!-- Modal Promoção -->
<div class="modal fade" id="saibaMais" data-backdrop="static" data-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content d-flex">

      <div class="modal-header">
        <div class="row">
          <div class="col-md-12 d-flex justify-content-center">
            <h5 class="modal-title text-uppercase titulo" id="staticBackdropLabel">Produto</h5>
          </div>

        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">

        <div class="row d-flex align-items-center">
          <div class="col-md-6 text-center">
            <img [src]="fotoProduto" class="imagemModalProduto img-modal">
          </div>
          <div class="col-md-6">
            <div class="row">
              <h3><strong>{{nomeProduto}}</strong></h3>
            </div>
            <div class="row"><small>{{categoriaProduto}}</small></div>
            <hr>
            <div class="row">
              <h3><strong>Descrição:</strong></h3>
            </div>
            <div class="row"><span class="center-block d-flex text-justify mr-3">{{descricaoProduto}}</span></div>

          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-success d-flex justify-content-end">
            <h5><strong style="color: grey;">Preço</strong></h5>
            <h5><strong style="color: green;">: RS{{precoProduto}}</strong></h5>
          </div>
        </div>
      </div>
      <div class="modal-footer d-flex justify-content-between">
        <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Voltar</button>
        <button type="button" class="btn btn-outline-success" data-dismiss="modal"
          [routerLink]="['/sacola-comprar', idProduto]">Comprar</button>
      </div>

    </div>
  </div>
</div>
<!-- /Fim do Modal Promoção -->

<!-- Modal ECOBOX -->
<!-- ECOBOX DE PATRULHEIRO -->
<div class="modal fade" id="patrulheiro" data-backdrop="static" data-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content d-flex">

      <div class="modal-header">
        <div class="row">
          <div class="col-md-12 d-flex justify-content-center">
            <h5 class="modal-title text-uppercase titulo" id="staticBackdropLabel">ECOBOX</h5>
          </div>

        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">

        <div class="row d-flex align-items-center">
          <div class="col-md-6 text-center">
            <img src='../../assets/img/cards/Journey.gif' class="imagemModalProduto img-modal">
          </div>
          <div class="col-md-6">
            <div class="row">
              <h3><strong>ECOBOX DO PATRULHEIRO</strong></h3>
            </div>
            <div class="row"><small>ECOBOX</small></div>
            <hr>
            <div class="row">
              <h3><strong>Descrição:</strong></h3>
            </div>
            <div class="row"><span class="center-block d-flex text-justify mr-5">Esse é o nosso serviço por assinatura
                para você que deseja experimentar alguns produtos de natureza ecologica, esse nivel de ecobox é para
                você que gostaria de investir e sair um pouco do comum, das suas comprar comuns e diminuir um pouco sua
                pegada ecologia em nossa casa a Mãe Terra, com essa caixa você recebe o nosso nivel de patrulheiro ECO,
                nada melhor do que os amigos da natureza para representar seu inicio nessa jornada ecologica.</span>
            </div>
            <div class="row">
              <div class="collapse" id="collapseExample">
                <div class="mt-4 d-flex justify-content-center">
                  <div class="row">

                    <div class="col-md-10 mb-3 mr-3">
                      <label for="compra">Selecione a opção de compra</label>
                      <select [(ngModel)]="validaCompra" class="form-control" id="compra">
                        <option value="compra">Compra</option>
                        <option value="assinatura">Assinatura</option>
                      </select>
                    </div>

                    <div *ngIf="validaCompra == 'compra'" class=" ml-3 row">
                      <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Digite seu email" aria-label="email"
                          aria-describedby="basic-addon2">
                        <div class="input-group-append">
                          <span class="input-group-text" id="basic-addon2">@exemplo.com</span>
                        </div>
                      </div>
                      <button class="btn btn-success" data-dismiss="modal" (click) = "compraRealizada()">Comprar</button>
                    </div>

                    <div *ngIf="validaCompra == 'assinatura'" class="ml-2 row">
                      <form class="checkout">
                        <p>
                          <input type="text" class="p-2 m-2" placeholder="Seu nome">
                          <input type="text" class="p-2 m-2" placeholder="Mês/vencimento">
                          <input type="text" class="p-2 m-2" placeholder="Ano/vencimento">
                        </p>
                        <p>
                          <input type="text" class="p-2 m-2" placeholder="4111 1111 1111 1111">
                          <input type="text" class="p-2 m-2" alt="Código de segurança" placeholder="CVC">
                          <button class="btn btn-success" data-dismiss="modal" (click) = "assinaturaRealizada()">Assinar</button>
                        </p>
                        <p>
                          
                        </p>
                      </form>
                      
                    </div>

                  </div>

                </div>

              </div>
            </div>

          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-success d-flex justify-content-end mt-3">
            <h5><strong style="color: grey;">Preço</strong></h5>
            <h5 class="pr-4"><strong style="color: green;">: RS49.90</strong></h5>
          </div>
        </div>
      </div>
      <div class="modal-footer d-flex justify-content-between">
        <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Voltar</button>
        <button class="btn btn-outline-success" type="button" data-toggle="collapse" data-target="#collapseExample"
            aria-expanded="false" aria-controls="collapseExample">Comprar/Assinar</button>
      </div>

    </div>
  </div>
</div>
<!-- /ECOBOX DO PATRULHEIRO  -->

<!-- ECOBOX DO EXPLORADOR  -->
<div class="modal fade" id="explorador" data-backdrop="static" data-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content d-flex">

      <div class="modal-header">
        <div class="row">
          <div class="col-md-12 d-flex justify-content-center">
            <h5 class="modal-title text-uppercase titulo" id="staticBackdropLabel">Produto</h5>
          </div>

        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">

        <div class="row d-flex align-items-center">
          <div class="col-md-6 text-center">
            <img src="../../assets/img/cards/Around the world.gif" class="imagemModalProduto img-modal">
          </div>
          <div class="col-md-6">
            <div class="row">
              <h3><strong>ECOBOX DO EXPLORADOR</strong></h3>
            </div>
            <div class="row"><small>ECOBOX</small></div>
            <hr>
            <div class="row">
              <h3><strong>Descrição:</strong></h3>
            </div>
            <div class="row"><span class="center-block d-flex text-justify mr-5">Esse é o nosso serviço por assinatura
                para você que deseja experimentar alguns produtos de natureza ecologica, Esse nível ja é para você que
                ja é um explorador na area dos produtos ecologicos e/ou sustentáveis e já se arrisca sem medo de ser
                feliz em produtos na sua vida, você ja é um explorador que busca sempre conhecer novos itens, novas
                maneiras de ajudar nossa casinha querida mãe Terra, assim você recebe o título de explorador ECO para o
                desbravamento que você terá com o uso dos nossos produtos</span></div>

                <div class="row">
                  <div class="collapse" id="collapseExample">
                    <div class="mt-4 d-flex justify-content-center">
                      <div class="row">
    
                        <div class="col-md-10 mb-3 mr-3">
                          <label for="compra">Selecione a opção de compra</label>
                          <select [(ngModel)]="validaCompra" class="form-control" id="compra">
                            <option value="compra">Compra</option>
                            <option value="assinatura">Assinatura</option>
                          </select>
                        </div>
    
                        <div *ngIf="validaCompra == 'compra'" class=" ml-3 row">
                          <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Digite seu email" aria-label="email"
                              aria-describedby="basic-addon2">
                            <div class="input-group-append">
                              <span class="input-group-text" id="basic-addon2">@exemplo.com</span>
                            </div>
                          </div>
                          <button class="btn btn-success" data-dismiss="modal" (click) = "compraRealizada()">Comprar</button>
                        </div>
    
                        <div *ngIf="validaCompra == 'assinatura'" class="ml-2 row">
                          <form class="checkout">
                            <p>
                              <input type="text" class="p-2 m-2" placeholder="Seu nome">
                              <input type="text" class="p-2 m-2" placeholder="Mês/vencimento">
                              <input type="text" class="p-2 m-2" placeholder="Ano/vencimento">
                            </p>
                            <p>
                              <input type="text" class="p-2 m-2" placeholder="4111 1111 1111 1111">
                              <input type="text" class="p-2 m-2" alt="Código de segurança" placeholder="CVC">
                              <button class="btn btn-success" data-dismiss="modal" (click) = "assinaturaRealizada()">Assinar</button>
                            </p>
                            <p>
                              
                            </p>
                          </form>
                          
                        </div>
    
                      </div>
    
                    </div>
    
                  </div>
                </div>

          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-success d-flex justify-content-end mt-3">
            <h5><strong style="color: grey;">Preço</strong></h5>
            <h5 class="pr-4"><strong style="color: green;">: RS89.90</strong></h5>
          </div>
        </div>
      </div>
      <div class="modal-footer d-flex justify-content-between">
        <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Voltar</button>
        <button class="btn btn-outline-success" type="button" data-toggle="collapse" data-target="#collapseExample"
            aria-expanded="false" aria-controls="collapseExample">Comprar/Assinar</button>
      </div>

    </div>
  </div>
</div>
<!-- /ECOBOX DO EXPLORADOR -->

<!-- ECOBOX DO BIOLOGO -->
<div class="modal fade" id="biologo" data-backdrop="static" data-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content d-flex">

      <div class="modal-header">
        <div class="row">
          <div class="col-md-12 d-flex justify-content-center">
            <h5 class="modal-title text-uppercase titulo" id="staticBackdropLabel">Produto</h5>
          </div>

        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">

        <div class="row d-flex align-items-center justify-content-center">
          <div class="col-md-6 text-center">
            <img src="../../assets/img/cards/Science.gif" class="imagemModalProduto img-modal">
          </div>
          <div class="col-md-6">
            <div class="row">
              <h3><strong>ECOBOX DO BIÓLOGO</strong></h3>
            </div>
            <div class="row"><small>ECOBOX</small></div>
            <hr>
            <div class="row">
              <h3><strong>Descrição:</strong></h3>
            </div>
            <div class="row"><span class="center-block d-flex text-justify mr-5">Esse é o nosso serviço por assinatura
                para você que deseja experimentar alguns produtos de natureza ecologica, Esse é o nosso nível master
                blaster do amigo da natureza aqui é para você que já tem total consciencia dos efeitos que podemos
                evitar no nosso planeta e realmente ama fazer sua parte e compartilhar essas ideias pelo mundo como um
                verdadeiro biólogo que ama o que faz e é consciente, aqui você ja é um Biologo que não só explora mas
                pesquisa novos produtos para adicionar em sua vida.</span></div>

            <div class="row">
              <div class="collapse" id="collapseExample">
                <div class="mt-4 d-flex justify-content-center">
                  <div class="row">

                    <div class="col-md-10 mb-3 mr-3">
                      <label for="compra">Selecione a opção de compra</label>
                      <select [(ngModel)]="validaCompra" class="form-control" id="compra">
                        <option value="compra">Compra</option>
                        <option value="assinatura">Assinatura</option>
                      </select>
                    </div>

                    <div *ngIf="validaCompra == 'compra'" class=" ml-3 row">
                      <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Digite seu email" aria-label="email"
                          aria-describedby="basic-addon2">
                        <div class="input-group-append">
                          <span class="input-group-text" id="basic-addon2">@exemplo.com</span>
                        </div>
                      </div>
                      <button class="btn btn-success" data-dismiss="modal" (click) = "compraRealizada()">Comprar</button>
                    </div>

                    <div *ngIf="validaCompra == 'assinatura'" class="ml-2 row">
                      <form class="checkout">
                        <p>
                          <input type="text" class="p-2 m-2" placeholder="Seu nome">
                          <input type="text" class="p-2 m-2" placeholder="Mês/vencimento">
                          <input type="text" class="p-2 m-2" placeholder="Ano/vencimento">
                        </p>
                        <p>
                          <input type="text" class="p-2 m-2" placeholder="4111 1111 1111 1111">
                          <input type="text" class="p-2 m-2" alt="Código de segurança" placeholder="CVC">
                          <button class="btn btn-success" data-dismiss="modal" (click) = "assinaturaRealizada()">Assinar</button>
                        </p>
                        <p>
                          
                        </p>
                      </form>
                      
                    </div>

                  </div>

                </div>

              </div>
            </div>


          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-success d-flex justify-content-end mt-3">
            <h5><strong style="color: grey;">Preço</strong></h5>
            <h5 class="pr-4"><strong style="color: green;">: RS119.90</strong></h5>
          </div>
        </div>
      </div>
      <div class="modal-footer d-flex justify-content-between">
        <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Voltar</button>
        <p>
          <button class="btn btn-outline-success" type="button" data-toggle="collapse" data-target="#collapseExample"
            aria-expanded="false" aria-controls="collapseExample">Comprar/Assinar</button>
        </p>
      </div>

    </div>
  </div>
</div>
<!-- /ECOBOX DO BIOLOGO -->

<!-- /Fim do Modal ECOBOX -->