<div class="container-fluid">

    <div class="row d-flex justify-content-center">

        <div class="col-md-6 pt-3">
            <div class="row d-flex justify-content-center">

                <div class="col-md-7 d-flex shadow-lg p-3 mb-5 bg-white rounded">
                    <div class="row d-flex justify-content-center">
                        <h2>Criar uma categoria</h2>

                        <div>
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Nome da categoria:</label>
                                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                              </div>
                              <div class="mb-3">
                                <label for="exampleInputPassword1" class="form-label">Descrição:</label>
                                <input type="password" class="form-control" id="exampleInputPassword1">
                              </div>
                              <div class="mb-3">
                                  <label for="exampleInputPassword1" class="form-label">Setor:</label>
                                  <input type="password" class="form-control" id="exampleInputPassword1">
                              </div>
                              <div class="d-flex justify-content-end">
                                  <button type="submit" class="btn btn-success">Submit</button>
                              </div>
                        </div>
                            
                            

                    </div>
                   
                </div>
               


            </div>
        </div>

        <div class="col-md-5 d-flex justify-content-center">
            <div class="row pt-3">

                <div class="shadow-lg p-3 mb-5 bg bg-light">
                    <h2>Produtos</h2>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Código</th>
                                <th scope="col">Nome</th>
                                <th scope="col">Preço</th>
                                <th scope="col">Descrição</th>
                                <th scope="col">Estoque</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Shampu orgânico</td>
                                <td>R$16.90</td>
                                <td>Shampu feito de bambu</td>
                                <td>12</td>
                                <td>
                                    <a href=""><img class="ed" src="../../assets/img/editar.png" width="20px" height="20px" alt=""></a>
                                    <a href=""><img class="rm" src="../../assets/img/removido.png" width="20px" height="20px" alt=""></a>
                                </td>
                            </tr>
                    </table>
                </div>
               
            </div>
        </div>
    </div>

</div>