<div class="container-fluid">

    <!-- forms -->
    <div class="row d-flex justify-content-center">

        <div class="col-md-12">

            <p class="text-center pt-3">
                <a class="btn btn-success mr-2" data-toggle="collapse" href="#multiCollapseExample1" role="button"
                    aria-expanded="false" aria-controls="multiCollapseExample1">Cadastrar categoria</a>
                <button class="btn btn-success " type="button" data-toggle="collapse"
                    data-target="#multiCollapseExample2" aria-expanded="false"
                    aria-controls="multiCollapseExample2">Cadastrar produto</button>

            </p>

            <div class="row pb-4">
                <div class="col-md-6">
                    <div class="collapse multi-collapse" id="multiCollapseExample1">
                        <div class="card card-body">
                            <div>
                                <div class="mb-3">
                                    <label for="inputNome" class="form-label">Nome da categoria:</label>
                                    <input [(ngModel)]='categoria.nome' type="text" class="form-control" id="inputNome"
                                        aria-describedby="nome">
                                </div>
                                <div class="mb-3">
                                    <label for="inputDescricao" class="form-label">Descrição:</label>
                                    <input [(ngModel)]='categoria.descricao' type="text" class="form-control"
                                        id="descricao">
                                </div>
                                <div class="mb-3">
                                    <label for="inputNome" class="form-label">Setor:</label>
                                    <input [(ngModel)]='categoria.setor' type="text" class="form-control"
                                        id="inputSetor">
                                </div>
                                <div class="d-flex justify-content-end">
                                    <button type="submit" class="btn btn-success" (click)='cadastrar()'>Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="collapse multi-collapse" id="multiCollapseExample2">
                        <div class="card card-body">
                            <div>

                                <div class="mb-3">
                                    <label for="nomeproduto" class="form-label">Nome do Produto:</label>
                                    <input [(ngModel)]="produto.nome" type="text" class="form-control" id="nomeproduto">
                                </div>

                                <div class="mb-3">
                                    <label for="descricaoprodutos" class="form-label">Descrição:</label>
                                    <input [(ngModel)]="produto.descricao" type="text" class="form-control"
                                        id="descricaoprodutos">
                                </div>

                                <div class="mb-3">
                                    <label for="preco" class="form-label">Preço:</label>
                                    <input [(ngModel)]="produto.preco" type="text" class="form-control" id="preco">

                                </div>

                                <div class="mb-3">
                                    <label for="quantidade" class="form-label">Quantidade:</label>
                                    <input [(ngModel)]="produto.quantidade" type="text" class="form-control"
                                        id="quantidade">
                                </div>

                                <div class="mb-3">

                                    <label for="promocao" class="form-label">Promoção:</label>
                                    <select [(ngModel)]="promo" class="form-control" name="promocao" id="promocao"
                                        (change)="validaPromo($event)">
                                        <option value="selecione">Selecione uma opção</option>
                                        <option value="true">Sim</option>
                                        <option value="false">Não</option>
  
                                    </select>

                                </div>

                                <div class="mb-3">
                                    <label for="categoria" class="form-label">Categoria:</label>
                                    <select class="form-control" name="categoria" id="categoria" [(ngModel)]="idCat"
                                        (change)="findByIdCategoria()">
                                        <option value="0">Selecione uma categoria</option>
                                        <option *ngFor="let categoria of listaCategoria" [value]="categoria.codigo">
                                            {{categoria.nome}}</option>
                                    </select>
                                </div>

                                <div class="mb-3">

                                    <label for="foto" class="form-label">Link da Foto</label>
                                    <input [(ngModel)]="produto.foto" type="text" class="form-control" id="foto">


                                </div>

                                <div class="d-flex justify-content-end">
                                    <button type="submit" class="btn btn-success"
                                        (click)="cadastrarProduto()">Submit</button>
                                </div>

                            </div>

                        </div>

                    </div>








                </div>
            </div>

            <p class="text-center ">
                <a class="btn btn-success mr-2" data-toggle="collapse" href="#usuarioCadastro" role="button"
                    aria-expanded="false" aria-controls="usuarioCadastro">Cadastrar usuario</a>

            </p>

            <div class="row d-flex justify-content-center pb-4">
                <div class="col-md-12">
                    <div class="collapse multi-collapse" id="usuarioCadastro">
                        <div class="card card-body">
                            <div>
                                <app-cadastrar></app-cadastrar>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- /forms -->

    <!-- Acordeão -->
    <div class="accordion" id="accordionExample">



        <!-- Acordeão 1 -->
        <div class="card">
            <div class="card-header d-flex justify-content-center" id="headingTwo">
                <h2 class="mb-0">
                    <button class="btn btn-outline-success btn-lg text-center collapsed" type="button"
                        data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                        aria-controls="collapseTwo">
                        Tabela de categorias
                    </button>
                </h2>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                    <div class="shadow-lg p-3 mb-5 bg bg-light">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Código</th>
                                    <th scope="col">Nome</th>
                                    <th scope="col">Descrição</th>
                                    <th scope="col">Setor</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr *ngFor="let cat of listaCategoria">

                                    <th>{{cat.codigo}}</th>

                                    <td>{{cat.nome}}</td>
                                    <td>{{cat.descricao}}</td>
                                    <td>{{cat.setor}}</td>
                                    <td>
                                        <button class="btn btn-outline-info"
                                            [routerLink]="['/editar-deletar', cat.codigo]"> MODIFICAÇÕES
                                        </button>
                                    </td>
                                </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!-- Acordeão 2 -->
        <div class="card">
            <div class="card-header d-flex justify-content-center" id="headingThree">
                <h2 class="mb-0">

                    <button class="btn btn-outline-success btn-lg text-center collapsed" type="button"
                        data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
                        aria-controls="collapseThree">

                        Tabela de produtos
                    </button>
                </h2>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                    <div class="shadow-lg p-3 mb-5 bg bg-light">

                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Código</th>
                                    <th scope="col">Nome</th>
                                    <th scope="col">Preço</th>
                                    <th scope="col">Descrição</th>
                                    <th scope="col">Estoque</th>
                                    <th scope="col">Promoção</th>
                                    <th scope="col">Categoria</th>
                                    <th scope="col">Foto</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>

                            <tbody>

                                <tr *ngFor="let prod of listProdutos">

                                    <th>{{prod.codigo}}</th>
                                    <td>{{prod.nome}}</td>
                                    <td>{{prod.preco}}</td>
                                    <td>{{prod.descricao}}</td>
                                    <td>{{prod.quantidade}}</td>
                                    <td>{{prod.promocao}}</td>
                                    <td>{{prod.categoria.nome}}</td>
                                    <td>{{prod.foto}}</td>


                                    <td>
                                        <button class="btn btn-outline-info"
                                            [routerLink]="['/editar-deletar-produto', prod.codigo]"> MODIFICAÇÕES
                                        </button>
                                    </td>

                                </tr>
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Acordeão -->
</div>

<!-- MODAL -->

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!-- Acordeão -->