<div class="valores pb-5">
<!--  área de Missão -->
  <div class="row container-fluid align-items-center">
    <div class="col-md-6 ">
      <h1>Missão</h1>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit eos minima, excepturi perspiciatis nesciunt
        accusantium id doloribus vel quaerat odio quod deleniti? Delectus aut tempora assumenda maiores explicabo rem
        impedit at quas numquam odio sed corrupti expedita laboriosam reprehenderit aliquam perferendis totam debitis,
        ipsum consequatur libero esse blanditiis? Ad magnam exercitationem voluptates autem tenetur eaque molestias
        aliquid, in nihil nulla iusto deserunt ab dicta nostrum harum? Pariatur commodi beatae, placeat cumque, dicta
        mollitia perferendis blanditiis officiis molestiae reprehenderit consequatur deserunt obcaecati minus ad
        suscipit aut exercitationem similique atque unde et impedit quidem ut nemo aliquam. Eum qui eveniet cupiditate
        consectetur!</p>
    </div>
    <div class="col-md-6">
      <img src="../../assets/img/sobrenos/img-quemsomos.jpg" alt="" class="img-fluid">
    </div>
  </div>
<!--  área de Missão -->

<!--  área de Visão -->
  <div>
    <div class="row container-fluid align-items-center">
      <div class="col-md-6">
        <img src="../../assets/img/sobrenos/img-quemSomos-1.jpg" alt="" class="img-fluid">
      </div>
      <div class="col-md-6">
        <h1>Visão</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt doloribus earum laborum, dolorum expedita
          voluptatum facere ut cumque dolor, dignissimos eligendi fuga incidunt reprehenderit id nemo! Numquam neque
          eligendi asperiores quia facilis voluptatem ipsa necessitatibus molestiae earum consectetur atque aliquam quos
          quas nam dignissimos ducimus, tempora repellendus accusantium pariatur possimus veniam delectus. Blanditiis
          harum eaque molestias aut numquam ex ab natus quam suscipit commodi ratione at distinctio voluptas, nostrum
          deserunt voluptatem! Molestias eaque voluptates dolores ea delectus similique ullam velit dignissimos cumque
          quo qui magni iure tempora officiis repudiandae, debitis doloremque aut architecto quidem sit recusandae ut
          molestiae aperiam? Deserunt.</p>
      </div>

    </div>
  </div>
  <!--  área de Missão -->

  <!--  área de Valores -->
  <div>
    <div class="row container-fluid align-items-center">
      <div class="col-md-6">
        <h1>Valores</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At dolorum numquam suscipit porro ipsam voluptas
          nostrum esse in sapiente ipsum, voluptate facilis voluptates maxime impedit velit perferendis earum nesciunt
          laudantium explicabo labore expedita. At distinctio laborum deserunt molestiae ipsum accusamus deleniti
          aliquam exercitationem? Explicabo sed quos iure architecto iusto excepturi natus vitae soluta quae doloribus?
          Dolore suscipit, illum ducimus vel voluptatem beatae laudantium veniam nostrum minima laboriosam nesciunt
          molestiae cum sunt eum consequuntur, asperiores aspernatur aliquid totam qui. Natus, dolor inventore?
          Doloribus molestias minima at repudiandae, dolore corrupti provident ratione et atque consequatur sequi saepe
          illo eaque, quas aliquam necessitatibus.</p>
      </div>
      <div class="col-md-6">
        <img src="../../assets/img/sobrenos/img-quemSomos-2.jpg" alt="" class="img-fluid">
      </div>
    </div>
  </div>
<!--  área de Missão -->


</div>
<div class="devs text-center"> 

<!--  área dos devs -->
  <h1 class="mb-5">
    Desenvolvedores
  </h1>

  <div class="row d-flex">
      <div class="col-md-4">
          <img src="../../assets/img/devs/ana-moto.jpeg" alt="" class="img-fluid rounded-circle" id="ana">
          <h3>Nome do Dev</h3>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam magni odio in illum incidunt voluptatem laboriosam cupiditate qui, rem reprehenderit?</p>
      </div>
      <div class="col-md-4">
        <img src="../../assets/img/devs/chris.jpeg" alt="" class="img-fluid rounded-circle">
        <h3>Nome do Dev</h3>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates laboriosam consectetur aspernatur, quia laborum eos earum ab ut quo dolorum.</p>
      </div>
      <div class="col-md-4">
        <img src="https://i.imgur.com/v9o2OW2.jpg" alt="" class="img-fluid rounded-circle">
        <h3>Nome do Dev</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus quis tenetur nostrum omnis? Ex fugiat eum sapiente voluptatibus ipsum nobis.</p>
      </div>
  </div>

  <div class="row d-flex justify-content-center">
    <div class="col-md-6">
        <img src="../../assets/img/devs/lucas.jpeg" alt="" class="img-fluid rounded-circle">
        <h3>Nome do Dev</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam magni odio in illum incidunt voluptatem laboriosam cupiditate qui, rem reprehenderit?</p>
    </div>
    <div class="col-md-6">
        <img src="../../assets/img/devs/mateus.jpeg" alt="" class="img-fluid rounded-circle">
        <h3>Nome do Dev</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates laboriosam consectetur aspernatur, quia laborum eos earum ab ut quo dolorum.</p>
    </div>
</div>

<!--  área de Missão -->