<div class="valores pb-5 d-flex pt-3">
<!--  área de Missão -->
  <div class="row container-fluid align-items-center">
    <div class="col-md-6">
      <h3>MISSÃO</h3>
      <p>Considerando a constante violação do meio ambiente, nossa missão é divulgar produtos sustentáveis e ecológicos bem como ONGs que atuam no combate da destruição de nosso planeta.</p>
      <h3>VISÃO</h3>
      <p>Reduzir os impactos ambientais causados pelo descarte inconsciente de lixo na natureza promovendo uma maior qualidade de vida para animais e seres humanos.</p>
      <h3>VALORES</h3>
      <p> Em busca de nossos objetivos, integridade e respeito são valores dos quais não abrimos mão. Nessa luta constante e diária pela preservação do meio ambiente é preciso integridade e respeito à natureza.</p>
    </div>
    <div class="col-md-6">
      <img src="../../assets/img/sobrenos/img-quemSomos-1.jpg" alt="" class="img-fluid">
    </div>
  </div>
</div>
<!--  área de Missão -->

<div class="devs pt-3 text-center"> 

<!--  área dos devs -->
  <h1 class="mb-5">
    DESENVOLVEDORES
  </h1>

  <div class="row container-fluid d-flex">
      <div class="col-md-4">
          <img src="../../assets/img/devs/ana-moto.jpeg" alt="" class="img-fluid rounded-circle" id="ana">
          <h3 class="mt-1">Ana Cruz</h3>
          <div class="row d-flex justify-content-center">
            <a href="https://github.com/AnaCruzz" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
            <a href="https://www.linkedin.com/in/ana-carolina-cruz-823430201/" target="_blank"><i class="fa fa-linkedin-square mb-2" aria-hidden="true"></i></a>
          </div>
      </div>
      <div class="col-md-4">
        <img src="../../assets/img/devs/chris.jpeg" alt="" class="img-fluid rounded-circle">
        <h3 class="mt-1">Allan Christian</h3>
        <div class="row d-flex justify-content-center">
          <a href="https://github.com/AllanChristianG" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
          <a href="https://www.linkedin.com/in/allanchristiang/" target="_blank"><i class="fa fa-linkedin-square mb-2" aria-hidden="true"></i></a>
        </div>
      </div>
      <div class="col-md-4">
        <img src="https://i.imgur.com/v9o2OW2.jpg" alt="" class="img-fluid rounded-circle">
        <h3 class="mt-1">Bruno Santos</h3>
        <div class="row d-flex justify-content-center">
          <a href="https://github.com/R0queh" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
          <a href="https://www.linkedin.com/in/r0queh/" target="_blank"><i class="fa fa-linkedin-square mb-2" aria-hidden="true"></i></a>
        </div>
      </div>
  </div>

  <div class="row container-fluid d-flex justify-content-center">
    <div class="col-md-6">
        <img src="../../assets/img/devs/lucas.jpeg" alt="" class="img-fluid rounded-circle">
        <h3 class="mt-1">Lucas Gabriel</h3>
        <div class="row d-flex justify-content-center">
          <a href="https://github.com/lucas-ggbriel" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
          <a href="https://www.linkedin.com/in/lucas-gabriel-649a95142/" target="_blank"><i class="fa fa-linkedin-square mb-2" aria-hidden="true"></i></a>
        </div>
    </div>
    <div class="col-md-6">
        <img src="../../assets/img/devs/mateus.jpeg" alt="" class="img-fluid rounded-circle">
        <h3 class="mt-1">Mateus Vaz</h3>
        <div class="row d-flex justify-content-center">
          <a href="https://github.com/vhmat" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
          <a href="https://www.linkedin.com/in/vazhmateus/" target="_blank"><i class="fa fa-linkedin-square mb-2" aria-hidden="true"></i></a>
        </div>
    </div>
</div>

<!--  área de Missão -->
<app-apoiadores-parceiros></app-apoiadores-parceiros>