<footer>
  <div class=""></div>
  <div class="container-fluid">
    <div class="row d-flex justify-content-between align-items-center bg-bege">
      
      <div class="col-md-3 border border-secondary">

        <h6 class="text-left">Navegação</h6>

        <a href="">eu</a>
        <a href="">você</a>
        
      </div>
      <div class="col-md-3 border border-secondary">
        <p class="text-left">Quem somos?</p>
      </div>
      <div class="col-md-3 border border-secondary">
        <p class="text-left">Contato</p>
      </div>
      <div class="col-md-3 border border-secondary">
        <p class="text-left">Parceiros/Apoiadores</p>
      </div>
    </div>
  </div>

</footer>