<footer>
  <!-- título do footer -->
  <div class="container-fluid bg mt-5 pb-5 bg-white rounded">
    <hr class="mt-2 mb-2">
    <div class="text-center titulo mb-3">ECOMPRA</div>
    <!-- fim do título do footer -->

    <!-- navagação do site pelo footer -->
    <div class="row d-flex text-center pt-2">

      <div class="col d-flex flex-column">
        <h6>Navegação</h6>
        <a href="home#carouselExampleCaptions">Novidades</a>
        <a href="home#produtos">Loja</a>
        <a href="home#ecobox">Ecobox</a>
      </div>
    
      <div class="col d-flex flex-column">
        <h6>Quem somos?</h6>
        <a href="sobrenos#missao">Missão</a>
        <a href="sobrenos#missao">Visão</a>
        <a href="sobrenos#missao">Valores</a>
        <a href="sobrenos#devs">Desenvolvedores</a>
      </div>

      <div class="col d-flex flex-column">
        <h6>Parceiros/Apoiadores</h6>
        <a href="sobrenos#parceiros">Parceiros</a>
        <a href="sobrenos#apoiadores">Apoiadores</a>
        <a href="sobrenos#super">Super-Heróis</a>
      </div>

      <div class="col d-flex flex-column">
        <h6>Contato</h6>
        <a href="contato#contato">Fale Conosco</a>
      </div>

    </div>
    <!-- fim daa navagação do site pelo footer -->
    <hr class="container mt-4 mb-4">
    <!-- redes sociais do footer -->
    <div class="row d-flex justify-content-center">
      <div class="col-md-12s">
        <div class="row d-flex justify-content-center">
          <a href="https://www.facebook.com/generationbrasil/" target="_blank">
            <i class="fa fa-facebook-square p-2" aria-hidden="true"></i>
          </a>
          <a href="https://www.instagram.com/generationbrasil/" target="_blank">
          <i class="fa fa-instagram p-2" aria-hidden="true"></i>
          </a>
          <a href="https://www.linkedin.com/school/generationbrasil/" target="_blank">
            <i class="fa fa-linkedin-square p-2" aria-hidden="true"></i>
          </a>
          <a href="https://www.whatsapp.com/?lang=pt_br" target="_blank">
            <i class="fa fa-whatsapp p-2" aria-hidden="true"></i>
          </a>
        </div>
        <!-- fim das redes sociais do footer -->
        <div class="row">
          <!-- Copyright -->
          <div class="col-md d-flex justify-content-center">
            <p>Todos os direitos reservados: <a href="">Ecompra</a> ©</p>
          </div>
          <!-- fim do Copyright -->
        </div>
      </div>
    </div>
  </div>


</footer>
