<footer>
  <div class="container-fluid bg mt-5 bg-white rounded">
    <hr class="mt-2 mb-2">
    <div class="text-center titulo">ECOMPRA</div>

    

    <div class="row d-flex pt-2">
      <div class="col-md-8 d-flex justify-content-center">

        <div>
          <div class="d-flex flex-column">
            <h6 class="">Navegação</h6>
            <a href="">Novidades</a>
            <a href="">Loja</a>
            <a href="">Ecobox</a>
          </div>
        
          <div class="d-flex flex-column">
            <h6 class="">Quem somos?</h6>
            <a href="">Missão</a>
            <a href="">Visão</a>
            <a href="">Valores</a>
          </div>

        </div>
        <div>
        
          <div class="d-flex flex-column">
            <h6 class="">Contato</h6>
            <a href="">Desenvolvedores</a>
            <a href="">Objetivos</a>
          </div>
        
        <div class="d-flex flex-column">
          <h6 class="">Parceiros/Apoiadores</h6>
          <a href="">Parceiros</a>
          <a href="">Apoiadores</a>
        </div>

      </div>

      </div>

      <div class="col-md-4 align-items-center">
        <div class="row d-flex flex-inline p-2">
          <i class="fa fa-facebook-square p-2" aria-hidden="true"></i>
          <i class="fa fa-instagram p-2" aria-hidden="true"></i>
          <i class="fa fa-linkedin-square p-2" aria-hidden="true"></i>
          <i class="fa fa-whatsapp p-2" aria-hidden="true"></i>
        </div>
        <div class="row d-flex ">
          <p>Todos os direitos reservados: <a href="">Ecompra</a> ©</p>
        </div>

      </div>
    </div>
  </div>

</footer>
