<h1 class="mt-5 mb-5 text-center" id="parceiros">GRUPOS PARCEIROS</h1>

<!-- Parceiros -->
<div class="container d-flex">
    <div class="row ">

        <div class="col">
            <div>
                <img src="../../assets/img/Parceiros e apoiadores/LOGO FUNDO.png" alt="" class="tam " id="art">
            </div>
        </div>

        <div class="col">
            <div>
                <img src="../../assets/img/Parceiros e apoiadores/W9DEFjF (1).png" alt="" class="img-fluid tam "
                    id="real">
            </div>

        </div>

        <div class="col">
            <div> <img src="../../assets/img/Parceiros e apoiadores/raizagro.jpg" alt="" class="img-fluid tam "
                    id="raiz">
            </div>
        </div>

        <div class="col">
            <div>
                <img src="../../assets/img/Parceiros e apoiadores/imei capa.png" alt="" class="img-fluid tam "
                    id="amei">
            </div>
        </div>

        <div class="col">
            <div> <img src="../../assets/img/Parceiros e apoiadores/logoColorido&Sombra.png" alt="" class="img-fluid tam "
                    id="conetc"></div>
        </div>
    </div>
</div>

<!-- //APOIADORES// -->
<h1 class="mt-5 mb-5 text-center mar">APOIADORES</h1>

<div class="container d-flex justify-content-center">
    <div class="row ">

        <div class="col">
            <div>
                <img src="../../assets/img/Parceiros e apoiadores/logogen.png" alt="" class="img-fluid tam "
                    id="gen">

            </div>
        </div>

        <div class="col">
            <div> <img src="../../assets/img/Parceiros e apoiadores/1547486273811.jpg" alt="" class="img-fluid tam " id="bradesco">

            </div>
        </div>
    </div>
</div>

<!-- Herois -->
<h1 class="mt-5 mb-5 text-center mar">NOSSOS SUPER-HERÓIS</h1>

<div class="container-fluid">
    <div class="row d-flex justify-content-center">

<div class="col-md-4">
     <img src="../../assets/img/Parceiros e apoiadores/camis.jpg" alt="" class="img-fluid rounded-circle tam " id="camis">

</div>
  

  <div class="col-md-4 d-flex">
   <img src="../../assets/img/Parceiros e apoiadores/primo.jpg" alt="" class="img-fluid rounded-circle tam " id="primo">

    
  </div>

  <div class="col-md-4">
   <img src="../../assets/img/Parceiros e apoiadores/thi.jpg" alt="" class="img-fluid rounded-circle tam " id="thiago">

    </div>
 

</div>
</div>

