    <!-- PARCEIROS -->
<div class="row container-fluid mt-5 mb-5 d-flex justify-content-center" id="parceiros">
    <h1>GRUPOS PARCEIROS</h1>
</div>

    <div class="row container-fluid d-flex align-items-center">

        <div class="col-md-3 teste">
        <img src="../../assets/img/Parceiros e apoiadores/LOGO FUNDO.png" alt="" class="img-fluid" id="art">
        </div>

        <div class="col-md-2 teste">
        <img src="../../assets/img/Parceiros e apoiadores/W9DEFjF (1).png" alt="" class="img-fluid" id="real">
        </div>

        <div class="col-md-2 teste">
        <img src="../../assets/img/Parceiros e apoiadores/raizagro1.png" alt="" class="img-fluid " id="raiz">
        </div>
        
        <div class="col-md-2 teste">
        <img src="../../assets/img/Parceiros e apoiadores/removeimei.png" alt="" class="img-fluid "id="amei">
        </div>

        <div class="col-md-3 teste">
        <img src="../../assets/img/Parceiros e apoiadores/logoColorido&Sombra.png" alt="" class="img-fluid" id="conetc">
        </div>
    </div>
    <!-- PARCEIROS -->

    <!-- APOIADORES -->
    <div class="row container-fluid mt-5 mb-5 d-flex justify-content-center" id="apoiadores">
        <h1 class="mt-5 mb-5 text-center mar">APOIADORES</h1>
    </div>
    <div class="row container-fluid d-flex align-items-center">
        <div class="col-md-6 container d-flex">
            <div class="col-md-6 container d-flex">
            <img src="../../assets/img/Parceiros e apoiadores/logogen.png" alt="" class="img-fluid">
            </div>
            <div class="col-md-6 container d-flex">
            <img src="../../assets/img/Parceiros e apoiadores/1547486273811.jpg" alt="" class="img-fluid">
            </div>
        </div>
    </div>
    <!-- /APOIADORES -->

    <div class="row container-fluid mt-5 mb-5 d-flex justify-content-center" id="super">
        <h1 class="mt-5 mb-5 text-center mar">NOSSOS SUPER-HERÓIS</h1>
    </div>
    <div class="row container-fluid d-flex align-items-center">

        <div class="col-md-4">
            <img src="../../assets/img/Parceiros e apoiadores/camis.jpg" alt="" class="img-fluid rounded-circle tam">
            <h3>Camila Cleane</h3>
            <div class="row d-flex justify-content-center">
                <a href="https://github.com/camillacleanne" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
                <a href="https://www.linkedin.com/in/camillacleane/" target="_blank"><i class="fa fa-linkedin-square mb-2" aria-hidden="true"></i></a>
              </div>
        </div>
       
        <div class="col-md-4">
        <img src="../../assets/img/Parceiros e apoiadores/primo.jpg" alt="" class="img-fluid rounded-circle tam">           
        <h3>Marcelo Barboza</h3>
            <div class="row d-flex justify-content-center">
                <a href="https://github.com/Marcelo7211" target="_blank"><i class="fa fa-github mb-2" aria-hidden="true"></i></a>
                <a href="https://www.linkedin.com/in/marcelo-barboza-da-silva-547941199/" target="_blank"><i class="fa fa-linkedin-square " aria-hidden="true"></i></a>
              </div>
        </div>
       
        <div class="col-md-4">
            <img src="../../assets/img/Parceiros e apoiadores/thi.jpg" alt="" class="img-fluid rounded-circle tam">
            <h3>Thiago Lima</h3>
            <div class="row d-flex justify-content-center">
                <a href="https://github.com/limathiagos" target="_blank"><i class="fa fa-github mb-2" aria-hidden="true"></i></a>
                <a href="https://www.linkedin.com/in/limasthiagos/" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
              </div>
        </div>

    </div>

