<div class="row mt-5 ">
    <div class="col-md-2">
      <div class="nav flex-column nav-pills container text-center" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link active mb-3 ml-3" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Todos os Produtos</a>

        <a *ngFor='let i of listaCategorias' (click)='findByIdCategoria(i.codigo)'  class="nav-link mb-3 ml-3" id="v-pills-categoria-tab" data-toggle="pill" href="#v-pills-categoria" role="tab" aria-controls="v-pills-categoria" aria-selected="true">{{i.nome}}</a>
        
      </div>
    </div>
    <div class="col-md-9">
      <div class="tab-content" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
            <div class="card-columns">
            <div class="card shadow-lg rounded" *ngFor='let p of listaProdutos'>
                <div class="card-img-wrapper">
                  <img src="{{p.foto}}" alt="">
                </div>
                <div class="card-info">
                  <h2>{{p.nome}}</h2>
                  <h3>{{p.categoria.nome}}</h3>
                  <p>{{p.descricao}}</p>
                  <button class="btn">Saiba mais</button>
                </div>
              </div>
            </div>


        </div>
        <div class="tab-pane fade" id="v-pills-categoria" role="tabpanel" aria-labelledby="v-pills-categoria-tab">
          
            <div class="card-columns">
                <div class="card shadow-lg rounded" *ngFor='let c of listaCatProd'>
                    <div class="card-img-wrapper">
                      <img src="{{c.foto}}" alt="">
                    </div>
                    <div class="card-info">
                      <h2>{{c.nome}}</h2>
                      <h3>{{c.categoria}}</h3>
                      <p>{{c.descricao}}</p>
                      <button class="btn">Saiba mais</button>
                    </div>
                  </div>
                </div>
            
        </div>
        
      </div>
    </div>
  </div>
