.bg-bege{
    background-color: cadetblue;
}

@media (max-width: 769px){
    #botton{
        margin: 10px;
    }
    #pesquisar{
        margin-left: 10px;
    }
    #entrar{
       margin-top: 10px;
    }
}

.fa{
    font-size: 30pt;
    color: #34af23;
    transition: all 0.2s;

}

.fa:hover{
    font-size: 35pt;
}

.fa-facebook-square:hover{
    color: #3b5998;
}
.fa-instagram:hover{
    color: #c13584;
}
.fa-linkedin-square:hover{
    color: #0072b1;

}
.fa-whatsapp:hover{
    color:#34af23;
}

.bag{
    width: 45px;
    margin-bottom: 10px;
    margin-right: 10px;
    transition: all 0.5s;
}

.bag:hover{
    width: 55px;
    margin-bottom: 0px;

}

#sair{
    text-decoration: none;
    color: green;
}

#sair:hover{
    color:greenyellow;
}