<div class="row d-flex align-items-center ml-2">
    <div class="col-md-3" class="logo">
        <img src="..//..//assets/img/ecompra-logo-removebg-preview.png" alt="">
    </div>
    <div class="col-md-6">
        <nav class="navbar navbar-light bg-dark">
            <form class="form-inline">
              <input class="form-control mr-sm-2" type="search" placeholder="Pesquise aqui" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
            </form>
          </nav>
    </div>
    
</div>


<!-- <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active"> <img src="..//..//assets/img/redesSociais/facebook.png" alt="Facebook"
                        class="iconesRedesSociais facebook"></li>
                <li class="nav-item active"> <img src="..//..//assets/img/redesSociais/instagram.png" alt="Instagram"
                        class="iconesRedesSociais instagram"> </li>
                <li class="nav-item active"> <img src="..//..//assets/img/redesSociais/linkedin.png" alt="Linkedin"
                        class="iconesRedesSociais linkedin"> </li>
                <li class="nav-item active"> <img src="..//..//assets/img/redesSociais/whatsapp.png" alt="Whatsapp"
                        class="iconesRedesSociais whatsapp"></li>
            </ul>
        </div> -->



    <!-- DA PRA APROVEITAR -->
<!-- <div class="linkLogin"> 
    <img src="..//..//assets/img/redesSociais/instagram.png"class="iconesRedesSociais" alt="">
    <a href="">Cadastrar</a>  / <a href="">Entrar</a> </div> -->
